# App
NEXT_PUBLIC_APP_URL=
NODE_ENV=production

# MongoDB
MONGO_URI=

# JWT
JWT_SECRET=

# Redis
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=

# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Groq
GROQ_API_KEY=
GROQ_MODEL=llama-3.3-70b-versatile

# Mistral
MISTRAL_API_KEY=
MISTRAL_EMBED_MODEL=mistral-embed

# Pinecone
PINECONE_API_KEY=
PINECONE_INDEX_NAME=genchat-messages